.heading_style{
    text-align: center!important;
    background: #ffc107;
    padding: 10px;

}
.allcontent{
	
}
.top-padding-20px{
	padding-top: 20px;
}
.footer_class {
    background: #ffc107;
    padding: 20px;
    margin-top: 20px;
}
.text-color {
    color: #d92e2c;
}
